.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu .link:hover {
  font-weight: 600;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    background-color: #f3f3f3;
    transform: scale(1);
  }
}

.nav-cart-count {
  position: relative;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background-color: red;
  color: white;
}

.nav-cart:hover {
  animation: shake 0.2s linear 2;
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@media only screen and (max-width: 799px) {
  .navbar {
    display: none;
  }
}
