* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: #171717;
}
