.button-style-1 {
  width: 282px;
  height: 70px;
  border-radius: 35px;
  background-color: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }
}
